In [1]:
import numpy as np
import pandas as pd

# DataFrames and Series

In [2]:
# Creating a Serires(1D lists type structure as in df)
s = pd.Series([1,2,3,4,5,np.nan,6,7,8,9,10])

In [3]:
s

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      NaN
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
dtype: float64

In [4]:
# Creating a dataframe by np array by date_range
d = pd.date_range('20200725', periods=10)
d

DatetimeIndex(['2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28',
               '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-01',
               '2020-08-02', '2020-08-03'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(10,4), index=d, columns= ['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2020-07-25  1.031623 -1.142337  1.435305 -0.533262
2020-07-26 -0.351843  0.454871  0.108946  1.087645
2020-07-27 -1.958982  0.101333 -0.340187  1.379958
2020-07-28 -1.803305  0.673550  1.129829 -0.848233
2020-07-29  0.702338 -0.925084  1.881097  0.373297
2020-07-30 -0.248262  0.841478  0.949801 -0.980797
2020-07-31 -0.396432  1.469444 -0.936433  0.466257
2020-08-01 -0.694504  2.000820 -0.154553  0.928743
2020-08-02 -0.254769 -0.660429 -1.774127 -0.030448
2020-08-03 -0.145861  1.130643 -0.480968  1.528326

In [6]:
df1 = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20200725'),
                   'C':pd.Series(1, index = list(range(4)), dtype='float32'),
                   'D':np.array([5]*4, dtype='int32'),
                   'E':pd.Categorical(['True', 'False', 'True', 'False']),
                   'F':'Thats my Name'})

In [7]:
df1

   A          B    C  D      E              F
0  1 2020-07-25  1.0  5   True  Thats my Name
1  2 2020-07-25  1.0  5  False  Thats my Name
2  3 2020-07-25  1.0  5   True  Thats my Name
3  4 2020-07-25  1.0  5  False  Thats my Name

In [8]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# View Data

In [9]:
df.head()

                   A         B         C         D
2020-07-25  1.031623 -1.142337  1.435305 -0.533262
2020-07-26 -0.351843  0.454871  0.108946  1.087645
2020-07-27 -1.958982  0.101333 -0.340187  1.379958
2020-07-28 -1.803305  0.673550  1.129829 -0.848233
2020-07-29  0.702338 -0.925084  1.881097  0.373297

In [10]:
df.tail()

                   A         B         C         D
2020-07-30 -0.248262  0.841478  0.949801 -0.980797
2020-07-31 -0.396432  1.469444 -0.936433  0.466257
2020-08-01 -0.694504  2.000820 -0.154553  0.928743
2020-08-02 -0.254769 -0.660429 -1.774127 -0.030448
2020-08-03 -0.145861  1.130643 -0.480968  1.528326

In [12]:
df.index

DatetimeIndex(['2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28',
               '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-01',
               '2020-08-02', '2020-08-03'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.to_numpy()

array([[ 1.03162276, -1.14233663,  1.43530504, -0.53326218],
       [-0.3518427 ,  0.45487119,  0.10894618,  1.08764511],
       [-1.95898227,  0.10133349, -0.34018732,  1.37995838],
       [-1.80330468,  0.67355049,  1.12982932, -0.84823334],
       [ 0.70233823, -0.92508384,  1.88109654,  0.37329657],
       [-0.24826218,  0.84147832,  0.94980139, -0.9807971 ],
       [-0.39643196,  1.46944387, -0.93643304,  0.46625728],
       [-0.69450445,  2.00081994, -0.1545534 ,  0.92874313],
       [-0.25476932, -0.66042935, -1.77412661, -0.03044804],
       [-0.14586149,  1.13064263, -0.48096774,  1.52832591]])

In [17]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.412000   0.394429   0.181871   0.337149
std     0.934565   1.046739   1.147642   0.911191
min    -1.958982  -1.142337  -1.774127  -0.980797
25%    -0.619986  -0.469989  -0.445773  -0.407559
50%    -0.303306   0.564211  -0.022804   0.419777
75%    -0.171462   1.058352   1.084822   1.047920
max     1.031623   2.000820   1.881097   1.528326

In [18]:
df.sort_index(axis = 1, ascending=False)

                   D         C         B         A
2020-07-25 -0.533262  1.435305 -1.142337  1.031623
2020-07-26  1.087645  0.108946  0.454871 -0.351843
2020-07-27  1.379958 -0.340187  0.101333 -1.958982
2020-07-28 -0.848233  1.129829  0.673550 -1.803305
2020-07-29  0.373297  1.881097 -0.925084  0.702338
2020-07-30 -0.980797  0.949801  0.841478 -0.248262
2020-07-31  0.466257 -0.936433  1.469444 -0.396432
2020-08-01  0.928743 -0.154553  2.000820 -0.694504
2020-08-02 -0.030448 -1.774127 -0.660429 -0.254769
2020-08-03  1.528326 -0.480968  1.130643 -0.145861

In [19]:
df.sort_values(by='C')

                   A         B         C         D
2020-08-02 -0.254769 -0.660429 -1.774127 -0.030448
2020-07-31 -0.396432  1.469444 -0.936433  0.466257
2020-08-03 -0.145861  1.130643 -0.480968  1.528326
2020-07-27 -1.958982  0.101333 -0.340187  1.379958
2020-08-01 -0.694504  2.000820 -0.154553  0.928743
2020-07-26 -0.351843  0.454871  0.108946  1.087645
2020-07-30 -0.248262  0.841478  0.949801 -0.980797
2020-07-28 -1.803305  0.673550  1.129829 -0.848233
2020-07-25  1.031623 -1.142337  1.435305 -0.533262
2020-07-29  0.702338 -0.925084  1.881097  0.373297

In [20]:
df['C']

2020-07-25    1.435305
2020-07-26    0.108946
2020-07-27   -0.340187
2020-07-28    1.129829
2020-07-29    1.881097
2020-07-30    0.949801
2020-07-31   -0.936433
2020-08-01   -0.154553
2020-08-02   -1.774127
2020-08-03   -0.480968
Freq: D, Name: C, dtype: float64

In [24]:
# Slicing 
df[0:3]

                   A         B         C         D
2020-07-25  1.031623 -1.142337  1.435305 -0.533262
2020-07-26 -0.351843  0.454871  0.108946  1.087645
2020-07-27 -1.958982  0.101333 -0.340187  1.379958

In [29]:
df[0:6]

                   A         B         C         D
2020-07-25  1.031623 -1.142337  1.435305 -0.533262
2020-07-26 -0.351843  0.454871  0.108946  1.087645
2020-07-27 -1.958982  0.101333 -0.340187  1.379958
2020-07-28 -1.803305  0.673550  1.129829 -0.848233
2020-07-29  0.702338 -0.925084  1.881097  0.373297
2020-07-30 -0.248262  0.841478  0.949801 -0.980797

In [26]:
df.loc[d[0]]

A    1.031623
B   -1.142337
C    1.435305
D   -0.533262
Name: 2020-07-25 00:00:00, dtype: float64

In [27]:
df.loc[:,['A', 'C']]

                   A         C
2020-07-25  1.031623  1.435305
2020-07-26 -0.351843  0.108946
2020-07-27 -1.958982 -0.340187
2020-07-28 -1.803305  1.129829
2020-07-29  0.702338  1.881097
2020-07-30 -0.248262  0.949801
2020-07-31 -0.396432 -0.936433
2020-08-01 -0.694504 -0.154553
2020-08-02 -0.254769 -1.774127
2020-08-03 -0.145861 -0.480968